@import "src/theme/theme-variables";

.header {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.logo-image {
  width: auto;
  height: 200px;
}

.app-title {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: white;
  font-size: 30px;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.5);
}

.banner {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.banner-image {
  position: absolute;
  right: 0;
  height: 200px;
  width: auto;
}

.navbar {
  background-color: $brand-primary;
  color: $white;
  .nav-item {
    cursor: pointer;
  }
  .navbar-toggler {
    cursor: pointer;
    &:focus, &:hover {
      outline: none;
    }
  }
}
