<header>
  <div class="hidden-md-down header">
    <a href="app-home" translate><img src="assets/logo.jpg" class="logo-image"/></a>
    <div class="banner">
      <img src="assets/banner2.jpg" class="banner-image"/>
      <span class="app-title">Seyssins Bridge Club</span>
    </div>
  </div>
  <div class="hidden-lg-up">
    <nav class="navbar">
      <button class="navbar-toggler navbar-toggler-left" type="button" aria-controls="navbar-menu"
              aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
        <i class="navbar-toggler-icon fa fa-bars"
           style="display: flex; align-items: center; justify-content: center; color: #fff"></i>
      </button>
      <a class="navbar-brand" style="margin-left:60px" translate>Seyssins Bridge Club</a>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none margin-top" [ngbCollapse]="menuHidden">
        <div class="navbar-nav">
          <div class="nav-item nav-link text-uppercase pointer border-top-white" routerLink="/actuality" routerLinkActive="active">
            <span translate>Actualités</span>
          </div>
          <div class="nav-item nav-link text-uppercase pointer border-top-white" routerLink="/competition" routerLinkActive="active">
            <span translate>Compétitions</span>
          </div>
          <div class="nav-item nav-link text-uppercase pointer border-top-white" routerLink="/contact" routerLinkActive="active">
            <span translate>Contact</span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
