<div class="container-fluid">
  <h1 class="title">
    <span translate>Contact</span>
  </h1>
  <div class="margin-top flex">
    <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng" class="map">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <div class="contact-content">
      <div class="address">
        <h4>Adresse</h4>
        <div class="margin-left">
          Seyssins Bridge<br/>
          Espace Victor Schoelcher<br/>
          38180 Seyssins
        </div>
      </div>
      <div class="timeshift">
        <h4>Horaires</h4>
        <div class="margin-left">
          Lundi: 14h00 RdF<br/>
          Mercredi: 14h00 RdF<br/>
          Vendredi: 14h00 RdF<br/>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-top">
    <h4>Coordonnées</h4>
    <div class="margin-left">
      <b>Club -</b> 04 38 49 23 47<br/>
      <b>Président du club -</b> M. Philippe CAPDEVIELLE : 04 76 49 29 09<br/>
      <b>Président de SeyssinsJeux -</b> M. Pierre VERNAY : 04 76 96 14 78<br/>
      <a href="mailto:jgenevey@numericable.fr">Contactez-nous en cliquant sur le lien ou par e-mail : jgenevey@numericable.fr</a><br/>
      <br/>
      <a href="mailto:gimenes.magalie@gmail.com">Un problème avec le site ? Contactez le webmaster</a>
    </div>
  </div>
  <div class="margin-top"></div>
</div>
