@import "src/theme/theme-variables";

.btn-secondary {
  background-color: $brand-primary;
  color: $white;
  &:hover {
    background-color: darken($brand-primary, 5);
  }
}

.has-error {
  box-sizing: border-box;
  border-bottom: solid 3px $brand-danger;
}

.action-buttons {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
