<div class="container-fluid">
  <h1 class="title">
    <span translate>Actualités</span>
  </h1>
  <div class="margin-top">
    <span>Pour recevoir ces informations par mail, inscrivez-vous&nbsp;!</span>
    <form>
      <div>
        <div class="input-group form-group">
          <input name="email" class="form-control" placeholder="Votre email" [(ngModel)]="email"
            [ngClass]="{'has-error': isEmailInvalid()}">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="subscribe()" [disabled]="!email || isEmailInvalid()">S'inscrire</button>
          </span>
        </div>
        <ngb-alert *ngIf="showError" type="danger" (close)="closeErrorAlert()">{{ errorMessage }}</ngb-alert>
        <ngb-alert *ngIf="showSuccess" type="success" (close)="closeSuccessAlert()">Votre email a bien été ajouté à la liste de notifications.</ngb-alert>
      </div>
    </form>
  </div>
  <div *ngIf="isAuthentificated" class="margin-top margin-bottom">
    <button class="btn btn-primary btn-block" (click)="addOrEditActuality()" type="button">
      <span>Ajouter une nouvelle actualité</span>
    </button>
  </div>
  <app-loader [isLoading]="isLoading"
              message="Les données sont en cours de chargement, veuillez patienter."></app-loader>
  <div [hidden]="isLoading || actualities.length" class="no-data">
    <h5>Pas d'actualités</h5>
  </div>
  <div class="card margin-top" *ngFor='let actuality of actualities'>
    <img class="card-img-top" *ngIf="actuality.pictureUrl" src="actuality.pictureUrl" aria-hidden="true">
    <div class="card-block">
      <div *ngIf="isAuthentificated" class="action-buttons">
        <button class="btn btn-outline-primary" (click)="addOrEditActuality(actuality)" type="button">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-outline-danger" (click)="deleteActuality(actuality)" type="button">
          <i class="fa fa-remove"></i>
        </button>
      </div>
      <h4 class="card-title" [style.color]="actuality.color">{{actuality.title}}</h4>
      <span
        class="card-date">{{actuality.createdAt | date:'longDate'}} à {{actuality.createdAt | date:'shortTime'}}</span>
      <p class="card-text ql-editor" [innerHTML]="actuality.message | safeHtml"></p>
      <div *ngIf="actuality.dropboxPath">
        <button class="btn btn-info" (click)="downloadFile(actuality)" type="button">
          <i class="fa fa-download"></i>
          <span>Télécharger le document</span>
        </button>
      </div>
    </div>
  </div>
</div>
