/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
.padding-top {
  padding-top: $navbar-padding-y;
}
.margin-top {
  margin-top: $navbar-padding-y;
}
.margin-right {
  margin-right: $navbar-padding-x;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.card-date {
  color: $gray-light;
  display: block;
  font-style: italic;
}

button {
  cursor: pointer;
}
