/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
$margins: 20px;

body {
  font-size: 1.2em;
}

.pointer {
  cursor: pointer;
}

.padding-top {
  padding-top: $margins;
}
.margin-top {
  margin-top: $margins;
}
.margin-bottom {
  margin-bottom: $margins;
}
.margin-right {
  margin-right: $margins;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.card-date {
  color: $gray-light;
  display: block;
  font-style: italic;
}

.no-data {
  text-align: center;
  color: $gray-light;
  width: 100%;
  margin-top: 50px;
}

button {
  cursor: pointer;
}
