<div class="container-fluid">
  <h1 class="title">
    <span translate>Compétitions</span>
  </h1>
  <div class="margin-top">
    <span>Pour recevoir ces informations par mail, inscrivez-vous&nbsp;!</span>
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Votre email">
        <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">S'inscrire</button>
      </span>
      </div>
    </form>
  </div>
  <div *ngIf="isAuthentificated" class="margin-top margin-bottom">
    <button class="btn btn-primary btn-block" (click)="addOrEditCompetition()" type="button">
      <span>Ajouter une nouvelle compétition</span>
    </button>
  </div>
  <app-loader [isLoading]="isLoading"
              message="Les données sont en cours de chargement, veuillez patienter."></app-loader>
  <div [hidden]="isLoading || competitions.length" class="no-data">
    <h5>Pas de compétition</h5>
  </div>
  <div class="card margin-top" *ngFor='let competition of competitions'>
    <img class="card-img-top" *ngIf="competition.pictureUrl" src="competition.pictureUrl" aria-hidden="true">
    <div class="card-block">
      <div *ngIf="isAuthentificated" class="action-buttons">
        <button class="btn btn-outline-primary" (click)="addOrEditCompetition(competition)" type="button">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-outline-danger" (click)="deleteCompetition(competition)" type="button">
          <i class="fa fa-remove"></i>
        </button>
      </div>
      <h4 class="card-title" [style.color]="competition.color">{{competition.title}}</h4>
      <span
        class="card-date">{{competition.createdAt | date:'longDate'}} à {{competition.createdAt | date:'shortTime'}}</span>
      <p class="card-text ql-editor" [innerHTML]="competition.message | safeHtml"></p>
    </div>
  </div>
</div>

