@import "src/theme/theme-variables";

$menu-width: 250px;

.menu-left {
  float:left;
  width:$menu-width;
  height:100%;
  .menu-item {
    background-color: $white;
    color: $brand-primary;
    margin:3px 10px;
    padding: 15px;
    font-size: 1.5rem;
    &.active {
      background-color: $brand-primary;
      color: $white;
    }
  }
}

.content {
  padding-bottom: 50px;
}

@media (min-width: 992px) {
  .content {
    padding-left: $menu-width;
  }
}
